.repos
  display: grid
  grid-template-columns: 30vw 30vw
  grid-column-gap: 5vw
  grid-row-gap: 5vw
  margin:
    top: 5vh
    left: 15vw
    right: 15vw


.container
  .mockup
    height: 80vh
    margin: auto
